* {
	font-family: "Pixelify Sans", sans-serif;
	font-size: 22
}

window {
	background-color: rgb(245, 224, 220, 1);
	border-left: 2px solid rgba(255, 255, 255, 1.0);
	border-right: 2px solid rgba(255, 255, 255, 1.0);
	border-top: 2px solid rgb(6, 6, 6);
	border-bottom: 2px solid rgba(255, 255, 255, 1.0);
	border-radius: 0px;
}

#input {
	color: rgb(24, 25, 38);
	background-color: rgb(166, 218, 149);
	border-radius: 0px;
	border-color: rgba(255, 255, 255, 1.0);
}

#entry:selected {
	background-color: rgb(239, 159, 118);
	border-left: 2px solid rgba(255, 255, 255, 1.0);
	border-right: 2px solid rgba(255, 255, 255, 1.0);
	border-top: 2px solid rgba(255, 255, 255, 1.0);
	border-bottom: 2px solid rgba(255, 255, 255, 1.0);
}
